

@font-face{
	font-family: 'Rubik Black';
	src: local('Rubik Black'),url('fonts/Rubik Black.ttf');
}

*{
	max-width: 100vw;
	/*max-height: 100vh;*/
	z-index: 4;
	margin: 0;
    padding: 0;	
}
body {
	background-color: rgba(0, 0, 0, 0.5);
}
.dropbase{
	height: 100vh;
	display: inline;
	position: sticky;
	z-index: 1;
}
.drop1 img{
	height:50px;
	z-index: 1;
}
.drop2 img{
	height:30px;
	z-index: 1;
}
.drop3 img{
	height:35px;
	z-index: 1;
}
.drop4 img{
	height:45px;
	z-index: 1;
}
.drop5 img{
	height:35px;
	z-index: 1;
}
@keyframes move1 {
	from {
		margin-top: -17vh;
	}
	to {
		margin-top: 110vh;
	}
}
@keyframes move2 {
	from {
		margin-top: -19vh;
	}
	to {
		margin-top: 110vh;
	}
}
@keyframes move3 {
	from {
		margin-top: -24vh;
	}
	to {
		margin-top: 110vh;
	}
}
@keyframes move4 {
	from {
		margin-top: -22vh;
	}
	to {
		margin-top: 110vh;
	}
}
@keyframes move5 {
	from {
		margin-top: -20vh;
	}
	to {
		margin-top: 110vh;
	}
}

.drop1 {
	overflow: hidden;
	z-index: 1;
	display: inline-block;
	position: absolute;
	animation-direction: normal;
	animation-duration: 4.4s;
	animation-name: move1;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	/*border: 1px solid black;*/
	top: -10px;
	left: 20vw;
}
.drop2 {
	z-index: 1;
	overflow: hidden;
	display: inline-block;
	position: absolute;
	animation-direction: normal;
	animation-duration: 4.7s;
	animation-name: move2;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	/*border: 1px solid black;*/
	top: -10px;
	left: 30vw;
}

.drop3 {
	z-index: 1;
	overflow: hidden;
	display: inline-block;
	position: absolute;
	animation-direction: normal;
	animation-duration: 6.4s;
	animation-name: move3;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	/*border: 1px solid black;*/
	top: -10px;
	left: 40vw;
}
.drop4 {
	z-index: 1;
	overflow: hidden;
	display: inline-block;
	position: absolute;
	animation-direction: normal;
	animation-duration: 7s;
	animation-name: move4;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	/*border: 1px solid black;*/
	top: -10px;
	left: 50vw;
}
.drop5 {
	z-index: 1;
	overflow: hidden;
	display: inline-block;
	position: absolute;
	animation-direction: normal;
	animation-duration: 5s;
	animation-name: move5;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	/*border: 1px solid black;*/
	top: -10px;
	left: 60vw;
}
.head{
	
	background-color: #47A6C9;
    display: block;
    height: 10vh;
	width: 100vw;
	/*padding: 3.3rem;*/
	position: relative;
	left: 0;
	top: 0;
	z-index:8;
	background-image: url("img/head.jpg");
	
	background-repeat: no-repeat;
	 background-size: 100vw 10vh;
	/*transform: translate(-10%, -10%);*/
}
.head p{
	padding: 0% 0% 2% 16%;
	/*margin: 0% 0% 0% 0%;*/
	z-index:2;
	display: flex;
	position: relative;
	top: 2vh;
	/*font-family: 'Panton Rust';*/
	font-family: 'Rubik Black';
	color: black;
	text-shadow:  2px 3px 12px #F1ED2F;
	font-size: 8vw;
	
	
}
.foot{
	overflow: hidden;
	background-color: #47A6C9;
    background-image: url("img/head.jpg");
	background-repeat: no-repeat;
	 background-size: 100vw 10vh;
    height: 9vh;
	width: 100vw;
	display: inline-block;

	
	left: 0;
	bottom: 0px;
	/*padding: 3.3rem;*/
}

.button{
	z-index: 2;
	/*background-color: #47A6C9;*/
	/*background-color: rgba(0, 0, 0, 0.5);*/
	display: block;
	position: relative;
	height: 9vh;
	width: 100vw;
	
	/*display:flex;*/
	
	left: 0;
	bottom: 0%;
	background-size: cover;
	/*border: 3px solid blue;*/
}
.button img{
	z-index: 2;
	/*background-color: #47A6C9;*/
	/*background-color: rgba(0, 0, 0, 0.5);*/
	position: relative;
	display:flex;
	width: 15vw;
	height:8vh;
	
	bottom: 1.5vh;
	background-size: cover;
    /*border: 3px solid red;*/
	
}
.button a{
	z-index: 2;
	/*background-color: #47A6C9;*/
	/*background-color: rgba(0, 0, 0, 0.5);*/
	margin:10px;
	padding: 0px;
	position: absolute;
	display:flex;
	left: 8vw;
	bottom: -20px;
	background-size: cover;
	text-decoration: none;
	/*border: 3px solid black;*/
}
.button p {
	z-index:1;
	/*font-family: 'Panton Rust';*/
	font-family: 'Rubik Black';
	/*color: #28F1EE;*/
	position:relative;
	display:flex;
	color: black;
	text-shadow:  1px 1px 25px #F1ED2F;
	text-align: center;
	justify-content: center;
	font-size: 7vw;
	left: 0vw;
	bottom: 0px;
	/*border: 3px solid yellow;*/		
}

.container{
	
	scroll-snap-type: y mandatory;
	/*top: 120px;*/
	left: 0;
	z-index:3;	
}
.card1{
	scroll-snap-align: start;
	display: flex; 
	position: sticky;
	border: 1px solid #88E1F0;
	z-index:8;
	background: url('img/1.jpg') no-repeat center center / cover;
	width: 100vw;
	height: 100vh;
	border-radius: 30px;
}
.card2 {
	
	display: flex; 
	position: sticky;
	border: 1px solid #88E1F0;
	z-index:2;

	background: url('img/2.jpg') no-repeat center center / cover;
	
	width: 100vw;
	height: 100vh;
	border-radius: 30px;
}
.card3 {
	display: flex; 
	position: sticky;
	border: 1px solid #88E1F0;
	z-index:2;
	background: url('img/3.jpg') no-repeat center center / cover;
	width: 100vw;
	height: 100vh;
	border-radius: 20px;
}
.card4 {
	display: flex;
	position: sticky;
	border: 1px solid #88E1F0;
	z-index:2;
	background: url('img/tools.jpg') no-repeat center center / cover;
	width: 100vw;
	height: 100vh;
	border-radius: 20px;
}
.card4-content{
	display: inline-block;
	position: relative;
	z-index:3;
	
	white-space: nowrap;
	overflow: hidden;
	
	
	
}
.slide1{
	z-index:2;
	display: inline-block;
	position: sticky;
	animation: slide1 30s linear infinite;
	
}


.slide1 img{
	margin:50% 5px;
	display: inline-block;
	border-radius: 10px;
	width: 60vw;
	height: auto;
	z-index: 2;
	
	border: 1px solid #88E1F0;
	object-fit: cover;
	/*object-fit: contain;*/
}


@keyframes slide1 {
	from { 
	transform: translateX(100vw);
	}
	to{
		transform: translateX(-600vw);
		}
}


.card1-content p{
	padding: 17% 4vh 2vh 7%;
	z-index :2;
	
	font-family: 'Rubik Black';
	/*font-family: 'Panton Rust';
	left: 8%;
	top: 9vh;
	
	*/
	
	width: 80vw;
	font-size: 4vh;
	position: absolute;
	text-align: center;
	color: black;
	text-shadow:  2px 3px 9px #EBEDA9;
}
.card2-content p {
	
	z-index:3;
	font-family: 'Rubik Black';
	/*font-family: 'Panton Rust';
	top: 9vw;
	width: 80vw;
	left: 12%;
	white-space: nowrap;*/
	width: 98vw;
	padding: 12vh 1vh 1vh 0vh;
	
	
	font-size: 8vw;
	position: absolute;
	text-align: center;
	color: black;
	text-shadow:  2px 3px 9px #EBEDA9;
	
}
.card2-content ul {
	
	padding: 30% 4vw 3vw 15vw;
	z-index:2;
	font-family: 'Rubik Black';
	/*font-weight: bold;
	left: 17vw;
	top: 26vh;
	line-height: 1.5;
	*/
	top: 5%;
	
	
	
	
	width: 80vw;
	font-size: 7vw;
	position: absolute;
	
	color: black;
	text-shadow:  2px 3px 9px #EBEDA9;
	
	
}
.card3-content p {

	z-index:1;
	font-family: 'Rubik Black';
	padding: 15% 1vh 10vh 8%;
	/*
	left: 7%;
	
	*/
	top: 2vh;
	
	width: 80vw;
	font-size: 6.5vw;
	position: absolute;
	text-align: center;
	color: black;
	text-shadow:  1px 1px 25px #EBEDA9;
	
}
.card4 p {

	z-index:1;
	font-family: 'Rubik Black';
	width: 100vw;
	
	left: 5vw;
	top: 8vh;
	width: 90vw;
	font-size: 3vh;
	position: absolute;
	text-align: center;
	color: black;
	text-shadow:  1px 1px 25px #EBEDA9;
	
}
/*--------------------------------------------------------*/
@media (min-width: 1081px){
	*{
	
	/*max-height: 100vh;*/
   /*overflow: none;*/
	
}
body{
	z-index: 3;
	width: 100vw;
	height: 100vh;	
background-image: url("img/bgh.jpg");	
background-repeat: no-repeat;
background-size:100vw 100vh;
/*border: 3px solid green;*/
padding: 50% auto;	
}	
	
	.container{
	display: flex;
	position: relative;
	margin: 50px 100px;
	padding-top: 4vw;
	/*top: 120px;*/
	left: 0vw;
	z-index:3;	
	
	
	overflow-y: hidden;
	overflow-x: hidden;
}

	.head{
	left: 50%;
	width: 0px;
	/*background-color: transparent;*/
    height: 6vh;
	display: flex;
    position:relative;
	justify-content: center;
	z-index:3;
	/*background-image: url("img/head.jpg");
	background-size:auto;
	background-position: center;*/
	
}
.head p{
	width: 60vw;
	z-index:3;
	display: flex;
	position: relative;
	/*font-family: 'Panton Rust';*/
	font-family: 'Rubik Black';
	color: black;
	text-shadow:  2px 3px 23px #F1ED2F;
	font-size: 3vw;
	left: 50%;
	top:2vh;
	text-align: center;
	white-space: nowrap;
	/*
	line-height:20vh;
	text-align: center;
	top: 0;*/
}

	
.card1{
		
	margin:  10px 10px;	
	display: inline-block; 
	position: relative;
	border: 1px solid #88E1F0;
	z-index:3;
	background: url("img/1.jpg");
	/*background-repeat: no-repeat;*/
	background-size:20vw 30vw;
	width: 20vw;
	height: 30vw;
	/*justify-content: center;*/
	border-radius: 30px;
	/*transform: rotate(90deg);*/
	box-shadow: 10px 5px 5px black;
}
.card2 {
	margin:  10px 10px;		
	display: inline-block; 
	position: relative;
	border: 1px solid #88E1F0;
	z-index:3;
	background: url("img/2.jpg");
	/*background-repeat: no-repeat;*/
	background-size:20vw 30vw;
	width: 20vw;
	height: 30vw;
	/*justify-content: center;*/
	border-radius: 30px;
	box-shadow: 10px 5px 5px black;
}
.card3 {
	margin:  10px 10px;	
	display: inline-block;
	position: relative;
	border: 1px solid #88E1F0;
	z-index:3;
	background: url("img/3.jpg");
	background-repeat: no-repeat;
	background-size:20vw 30vw;
	width: 20vw;
	height: 30vw;
	/*justify-content: center;*/
	border-radius: 30px;
	box-shadow: 10px 5px 5px black;
}	
.card4 {
	margin:  10px 10px;	
	display: flex;
	position: sticky;
	border: 1px solid #88E1F0;
	z-index:3;
	background: url("img/tools.jpg");
	background-repeat: no-repeat;
	background-size:20vw 30vw;
	width: 20vw;
	height: 30vw;
	/*justify-content: center;
	*/
	border-radius: 30px;
	overflow: hidden;
	box-shadow: 10px 5px 5px black;
}	
.card1-content p{
	justify-content: center;
	z-index :3;
	display: run-in;
	position: relative;
	font-family: 'Rubik Black';
	/*font-family: 'Panton Rust';*/
	left: 1vw;
	font-size: 1.5vw;
	top: 4vh;
	width: 17vw;
	height: 25vw;
	
	color: black;
	text-shadow:  1px 1px 25px #EBEDA9;
}
.card2-content p {
	
	z-index :3;
	display: run-in;
	font-family: 'Rubik Black';
	/*font-family: 'Panton Rust';*/
	left: 9vh;
	top: 1.8vw;
	font-size: 1.5vw;
	
	
	display: flex;
	position: relative;
	/*text-align: center;*/
	color: black;
	text-shadow:  1px 1px 23px #EBEDA9;
	
}
.card2-content ul {
	
	z-index:3;
	font-family: 'Rubik Black';
	font-weight: bold;
	/*word-break: break-all;*/
	line-height: 1.4;
	top: 2.9vw;
	left: 2.2vw;
	width: 17vw;
	height: 25vw;
	font-size:2vh;
	display: absolute; 
	position: relative;
	text-align: left;
	color: #black;
	text-shadow:  2px 3px 23px #EBEDA9;
	
	
}
.card3-content p {
	display: run-in;
	margin:  0 1%;	
	display: inline-block; 
	position: relative;
	z-index :2;
	font-family: 'Rubik Black';
	left: 1vh;
	top: 3.5vh;
	width: 18vw;
	height: 25vw;
	font-size: 1.1vw;
	text-align: center;
	color: black;
	text-shadow:  1px 1px 23px #EBEDA9;
	
}
.card4-content{
	display: inline-block;
	position: relative;
	z-index:3;
	
	white-space: nowrap;
	overflow: hidden;
	width: 30vw;
	height: 40vw;
	
	
	/*display: inline-block;
	position: relative;
	z-index:3;
	
	white-space: nowrap;
	overflow: hidden;
	*/
}


.card4 p {

	z-index:1;
	font-family: 'Rubik Black';
	/*width: 100vw;*/
	
	width: 20vw;
	height: 30vw;
	left: 0.1vw;
	top: 2.5vh;
	
	font-size: 2.3vh;
	
	text-align: center;
	color: black;
	text-shadow:  1px 1px 25px #EBEDA9;
	
}
.slide1{
	z-index:1;
	

	position: sticky;
	animation: slide1 60s linear infinite;
	
}


.slide1 img{
	margin:5% 5px;
	display:flex
	position: sticky;
	border-radius: 10px;
	width: 15vw;
	height: 20vw;
	z-index: 2;
	
	border: 1px solid #88E1F0;
	object-fit: cover;
	/*object-fit: contain;*/
}





.foot{
	width:0px;
	background-color: transparent;
    height: 11vh;
	
	display: flex;
    position:fixed;
	justify-content: center;
	z-index:3;
	/*background-image: url("img/head.jpg");
	background-size:auto;
	background-position: center;*/
	bottom:0%;
	left: 30%;
}	
.button{
	z-index: 2;
	/*background-color: #47A6C9;*/
	background-color: rgba(0, 0, 0, 0.5);
	display:inline-block;
	position: fixed;
	height: 10vh;
	width: 0px;
	
	justify-content: center;
	text-align: center;
	left: 18vw;
	bottom: 0px;
	background-size: cover;
	/*border: 3px solid yellow;*/
}
.button img{
	z-index: 1;
	/*background-color: #47A6C9;*/
	/*background-color: rgba(0, 0, 0, 0.5);*/
	position: relative;
	display:flex;
	width: 9vw;
	height:8vw;
	left: 9vw;
	bottom: 2vw;
	background-size: cover;
    /*border: 3px solid red;*/
	
}
.button a{
	z-index: 2;
	height: 40vh;
	width: 50vw;
	bottom: 0vw;
	display: flex;
	position: relative;
	justify-content: center;
		
	left: 3vw;
	
	background-size: cover;
	text-decoration: none;
	/*border: 3px solid black;*/
}
.button p {
	z-index:1;
	display: flex;
	position: relative;
	/*font-family: 'Panton Rust';*/
	font-family: 'Rubik Black';
	color: black;
	text-shadow:  2px 3px 23px #F1ED2F;
	font-size: 3vw;
	justify-content: center;
	text-align: center;	
	bottom: 0vw;
	left: 0vw;
	height: 15vh;
	width: 50vw;
	
	/*border: 3px solid blue;*/
}
@keyframes slide1 {
	from { 
	transform: translateX(20vw);
	}
	to{
		transform: translateX(-150vw);
		}
}


.drop1 {
	overflow: hidden;
	z-index: 1;
	display: flex;
	position: relative;
	animation-direction: normal;
	animation-duration: 4.4s;
	animation-name: move1;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	/*border: 1px solid black;*/
	top: -10px;
	left: 7vw;
}
.drop2 {
	z-index: 1;
	overflow: hidden;
	display: flex;
	position: relative;
	animation-direction: normal;
	animation-duration: 3.3s;
	animation-name: move2;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	/*border: 1px solid black;*/
	top: -10px;
	left: 19vw;
}

.drop3 {
	z-index: 1;
	overflow: hidden;
	display: flex;
	position: relative;
	animation-direction: normal;
	animation-duration: 3.4s;
	animation-name: move1;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	/*border: 1px solid black;*/
	top: -10px;
	left: 30vw;
}
.drop4 {
	z-index: 1;
	overflow: hidden;
	display: flex;
	position:relative;
	animation-direction: normal;
	animation-duration: 3s;
	animation-name: move2;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	/*border: 1px solid black;*/
	top: -10px;
	left: 49vw;
}
.drop5 {
	z-index: 1;
	overflow: hidden;
	display: flex;
	position: relative;
	animation-direction: normal;
	animation-duration: 2s;
	animation-name: move1;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	/*border: 1px solid black;*/
	top: -10px;
	left: 71vw;
}
.dropbase{
	z-index:1;
	height: 100vh;
	display: inline;
	position: fixed;
	
}
.drop1 {
	overflow: hidden;
	z-index: 1;
	display: inline-block;
	position: absolute;
	animation-direction: normal;
	animation-duration: 4.4s;
	animation-name: move1;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	/*border: 1px solid black;*/
	top: -10px;
	left: 4vw;
}
.drop2 {
	z-index: 1;
	overflow: hidden;
	display: inline-block;
	position: absolute;
	animation-direction: normal;
	animation-duration: 4.7s;
	animation-name: move2;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	/*border: 1px solid black;*/
	top: -10px;
	left: 19vw;
}

.drop3 {
	z-index: 1;
	overflow: hidden;
	display: inline-block;
	position: absolute;
	animation-direction: normal;
	animation-duration: 6.4s;
	animation-name: move3;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	/*border: 1px solid black;*/
	top: -10px;
	left: 40vw;
}
.drop4 {
	z-index: 1;
	overflow: hidden;
	display: inline-block;
	position: absolute;
	animation-direction: normal;
	animation-duration: 7s;
	animation-name: move4;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	/*border: 1px solid black;*/
	top: -10px;
	left: 50vw;
}
.drop5 {
	z-index: 1;
	overflow: hidden;
	display: inline-block;
	position: absolute;
	animation-direction: normal;
	animation-duration: 5s;
	animation-name: move5;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	/*border: 1px solid black;*/
	top: -10px;
	left: 71vw;
}
}


/*transform: rotate(90deg);*/
/*--------------------------------------------------------*/
